<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" action="/">
            <table>
                <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                <tr><td>Description:</td><td><input type="text" name="text" /></td></tr>
                <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
            </table>
        </form>
    </div>

    <div>
        <table>
            <tr th:each="file : ${files}">
                <td><a th:href="${file.getPath()}" th:text="${file.getPath()}" /></td>
                <td th:text="${file.getSizeAsString()}"></td>
                <td th:text="${file.getDescription()}"></td>
            </tr>
        </table>
    </div>

</body>
</html>